/* Baloo 2 and Nunito, SIL Open Font License (see LICENSE files in this folder). */
@font-face{font-family:'Baloo 2';font-weight:600;src:url(baloo-2-latin-600-normal.woff2) format('woff2')}
@font-face{font-family:'Baloo 2';font-weight:700;src:url(baloo-2-latin-700-normal.woff2) format('woff2')}
@font-face{font-family:'Baloo 2';font-weight:800;src:url(baloo-2-latin-800-normal.woff2) format('woff2')}
@font-face{font-family:'Nunito';font-weight:600;src:url(nunito-latin-600-normal.woff2) format('woff2')}
@font-face{font-family:'Nunito';font-weight:700;src:url(nunito-latin-700-normal.woff2) format('woff2')}
@font-face{font-family:'Nunito';font-weight:800;src:url(nunito-latin-800-normal.woff2) format('woff2')}
